@model LoginViewModel

@*<table class="table">
    <tr>
        <td><img src="~/images/user.png" height="5%" width="5%" alt="Fazer o Login" class="center-block" /></td>
        <td>
            <div class="row">
                <div class="col-10 col-md-10 col-lg-10">
                    <h4>Login</h4>
                    <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-group">
                            <label asp-for="UserName" class="col-md-2 control-label"></label>
                            <div class="col-md-6">
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                            <div class="col-md-6">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <input type="submit" class="btn btn-success" value="Log in" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>*@

<div class="card shadow p-4 m-4">
    <div class="d-flex align-items-center py-4">
        <main class="w-100 m-auto form-container">
            <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="ReturnUrl" />
                <img src="~/images/user.png" class="mb-4" width="20%" height="20%">
                <h1 class="h3 mb-3 fw-normal py-2">Login</h1>
                <div class="form-floating">
                    <input asp-for="UserName" class="form-control" id="floatingInput" placeholder="Nome de Usuário">
                    <label asp-for="UserName" class="floatingInput">
                        Usuário
                    </label>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Password" class="form-control" id="floatingInput" placeholder="Senha">
                    <label asp-for="Password" class="floatingInput">
                        Senha
                    </label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="p-4">
                    <button type="submit" class="btn btn-success w-100">
                        Entrar
                    </button>
                </div>
            </form>
        </main>
    </div>
</div>