@model SkinsSite.Models.Skin

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Skin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control">
                    <option value="BS">Battle-Scarred</option>
                    <option value="WW">Well-Worn</option>
                    <option value="FT">Field-Tested</option>
                    <option value="MW">Minimal Wear</option>
                    <option value="FN">Factory New</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SkinFloat" class="control-label"></label>
                <input asp-for="SkinFloat" class="form-control" />
                <span asp-validation-for="SkinFloat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoDetalhada" class="control-label"></label>
                <input asp-for="DescricaoDetalhada" class="form-control" />
                <span asp-validation-for="DescricaoDetalhada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagem" class="control-label"></label>
                <input asp-for="Imagem" type="file" class="form-control" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSkinPreferida" /> @Html.DisplayNameFor(model => model.IsSkinPreferida)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmEstoque" /> @Html.DisplayNameFor(model => model.EmEstoque)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class ="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

