<br />
<img src="~/images/admin-com-dentadas.png" alt="Área do Administrador" class="marginTop1" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Área do Administrador</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar a Home Page</a>
</div>