@model HomeViewModel

<partial name="_Carousel"/>
<br />
<div class="container px-4 text-left bg-dark rounded">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3">
                <h2 class="text-white">
                    Skins que dão Skill:
                </h2>
            </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    @foreach (var skin in Model.SkinsPreferidas)
    {
        <partial name="_SkinsResumo" for="@skin" />
    }
</div>