@model HomeViewModel

<partial name="_Carousel"/>
<br />
<div class="container px-4 text-left bg-dark rounded">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3">
                <h2 class="text-white">
                    Skins que dão Skill:
                </h2>
            </div>
        </div>
    </div>
</div>
<br />

<div style="overflow: auto; gap: 8px;" class="d-flex w-100 flex-wrap container-items justify-content-center">
    @foreach (var skin in Model.SkinsPreferidas)
    {
        <partial name="_SkinsResumo" for="@skin" />
    }
</div>

<script>
    let produtosElements = document.querySelectorAll("#card-text");
    Array.from(produtosElements).forEach((item) => {
        if (item.innerHTML.length > 30) {
            item.textContent = item.textContent.substring(0, 30) + "...";
        }
    })
</script>
