@model SkinsSite.Models.Cupom

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Cupom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CupomId" />
            <div class="form-group">
                <label asp-for="CupomCodigo" class="control-label"></label>
                <input asp-for="CupomCodigo" class="form-control" />
                <span asp-validation-for="CupomCodigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorDesconto" class="control-label"></label>
                <input asp-for="ValorDesconto" class="form-control" />
                <span asp-validation-for="ValorDesconto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="LimiteUso" class="control-label"></label>
                <input asp-for="LimiteUso" class="form-control" />
                <span asp-validation-for="LimiteUso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary mt-2" />
                <a class="btn btn-success mt-2" asp-action="Index">Retornar</a>
            </div>
        </form>
    </div>
</div>