body {
    font-family: Roboto;
}

html {
  font-size: 14px;
}

.nao-quebra {
    white-space: nowrap;
}

.card-produto {
    width: 32.73%;
}

.rect-img-container {
    position: relative;
}

.rect-img-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.rect-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0px;
    line-height: 25px;
}

.form-container {
    max-width: 350px;
    padding: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr)); /* Altera o tamanho mínimo e máximo das colunas */
    gap: 20px; /* Espaço entre os cards */
}

.grid-item {
    border: 1px solid #ccc; /* Borda para separar os cards */
    padding: 10px;
    text-align: center;
}

    .grid-item.checked {
        background-color: #98FB98; /* Cor de fundo quando a checkbox está marcada */
    }

    .grid-item img {
        max-width: 100%; /* Garante que a imagem não ultrapasse o card */
    }

    .grid-item p {
        margin-top: 10px;
        font-size: 14px;
    }

@media (max-width: 768px) {
    /* Modificações para telas menores que 768px */
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .container-items {
        flex-direction: column;
        align-items: center;
    }
    .card-produto {
        width: 75%;
    }
}

@media (max-width: 425px) {
    .container-produtos {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .aside-skins, .main-content {
        width: 100% !important;
    }
}

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

html {
    position: relative;
    min-height: 100%;
}