@model SkinListViewModel
<br />
<h1 class="font-weight-bold text-dark">@Model.CategoriaAtual</h1>
<br />
<br />
<div class="container">
    <div class="row">
        @foreach (var skin in Model.Skins)
        {
            <partial name="_SkinsResumo" for="@skin"/>
        }
    </div>
</div>